html {
    scroll-behavior: smooth;
}

#menueBody {
    display: flex;
    flex-direction: column;
    background-image: url(https://images.unsplash.com/photo-1531685250784-7569952593d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1867&q=80);
    text-align: center;
}
li {
    list-style: none;
}


#foodPic {
    height: 183px;
    width: 229px;
}

#navbar {
    display: flex;
    justify-content: left;
    padding: 7px;
}

#navbar button {
    margin: 4px;
}
.menuFlex {
    display: flex;
}
#siteHeader {
    text-align: center;
}
